@{
    ViewData["Title"] = "Политика конфиденциальности";
}

<div class="container mt-4">
    <h1>@ViewData["Title"]</h1>

    <p class="lead">На этой странице описана политика конфиденциальности нашего сайта.</p>
</div>
